@import 'variables.scss';

.article {
  flex: 1;
  position: relative;

  & > * {
    padding: 50px;
    text-align: justify;
  }

  .markdown {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__title {
    // @extend %h1;
    flex: 1 0 100%;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  &__meta {
    padding: 10px 0;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    flex: 0 1 20%;

    & > span {
      margin: 0 3px;
    }

    h2, h6 {
      margin-bottom: 10px;
    }
  }

  &__body {
    flex: 0 0 50%;
    margin-left: 50px;
  }



  p {
    margin-bottom: .5em;
    // font-size: .9em;
    // line-height: 1.6;

    &:first-child:first-letter {
      float: left;
      color: darken($lightGray, 40%);
      font-size: 75px;
      line-height: 60px;
      padding-top: 1px;
      padding-right: 4px;
      padding-left: 3px;
    }
  }
}
