@import 'variables.scss';

.button {
  color: $dark;
  text-decoration: none;
  display: flex;
  text-transform: uppercase;
  line-height: .8;
  cursor: pointer;
  font-size: 16px;
  font-family: $sans;

  &:hover,
  &.active {

  }
}

.button--menu {

  &::after {
    content: 'Index';
  }

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url(menu.svg) no-repeat;
    margin-right: 5px;
    margin-top: -2px;
  }
}

.button--toggle-panel {
  transition: .25s ease-out all;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url(search2.svg) no-repeat;
    margin-right: 4px;
    margin-top: -2px;
  }

  @include respond-to(small) {

  }

  &::after {
    content: 'Search';
  }
}

.button--menu.menu-open {
  &::before {
    background: none;
  }
  &::after {
    content: 'x Close';
  }
}

.button--toggle-panel.open {
  &::after {
    content: 'Close';
  }
}
