@import 'variables.scss';

.site-header {
  background: $marigold;
  position: fixed;
  min-height: 50px;
  left: 0;
  width: 100%;

  & > .grid {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;
  }
}
