@import 'variables.scss';

html, body, body > div {
  height: 100%;
}

body {
  background: $paper;
}

main {
  height: 100%;
}

main > section {
  display: flex;
  height: 100%;
}

.fade-enter {
  opacity: 0;
  display: none;
}

.fade-enter-active {
  opacity: 1;
  transition: .25s ease-in all;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: .25s ease-in all;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
