@import 'variables.scss';

html, body, body > div {
  height: 100%;
}

body {
  background: $paper;
}

main {
  height: 100%;
}

main > section {
  display: flex;
  height: 100%;
}

img {
  margin: 20px 0 10px 0;
}

.fade-enter {
  opacity: 0;
  display: none;
}

.fade-enter-active {
  opacity: 1;
  transition: .5s ease-in opacity;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: .25s ease-in opacity;
}
