@import 'variables.scss';

html, body, body > div {
  height: 100%;
}

body {
  background: #fff;
}

main {
  height: 100%;
  transition: .25s ease-in-out transform;

  &.menu-open {
    transform: translateX(-80vw);
    box-shadow: 0 -1px 11px rgba($dark, 0.3);
  }
}

main > section {
  display: flex;
  height: 100%;
}

img {
  margin: 20px 0 10px 0;
}

.slide-enter {
  transform: translateY(-30vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
}

.slide-enter-active {
  transform: translateY(0);
  transition: .25s ease-in-out all;


}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(-30vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
  transition: .25s ease-in-out all;
}
