@import 'variables.scss';
$text-color: lighten($dark, 20%);

.page-links {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $text-color;
  font-weight: 300;
  flex: 1 0 80%;
  font-size: 26px;
  font-family: $serif;
  text-align: left;

  &__header {
    padding: 5px!important;
  }

  .tags {
    text-align: right;
  }

  .tags, .date {
    display: none;
    @include respond-to(small) {
      display: block;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: $text-color;
  }

  h2 {
    color: $text-color;
    margin-bottom: 0px;
    font-size: 35px;
  }

  li {
    display: flex;
    margin-right: 10px;
    border-bottom: 1px dotted darken($daisy, 50%);
    // align-items: center;
    margin: 0;
    padding: 10px 5px;

    // &:first-child {
    //   border: 0;
    // }

    & > *:first-child {
      flex: 0 0 20%;
    }

    & > *:last-child {
      flex: 1;
    }

    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  .tags a {
    // display: inline-block;
  }
}
