@import 'variables.scss';

.page-links {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $dark;
  font-weight: 300;
  font-size: 36px;
  position: relative;
  z-index: 1;

  @include respond-to(small) {
    flex: 0 1 85%;
  }

  .date {
    display: none;
    @include respond-to(small) {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .chevron {
    display: none;
    margin-right: 10px;
    position: relative;
    top: -3px;

    @include respond-to(small) {
      display: inline-block;
    }
  }

  li {
    margin: 0;
    padding: 10px 5px;


    & > *:first-child {
      flex: 0 0 20%;
    }

    & > *:last-child {
      flex: 1;
    }

    a {
      color: $dark;
      text-decoration: none;
    }
  }
}
