@import 'variables.scss';

.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  // left: 0;
  background: $dark;
  overflow: hidden;
  padding: 20px;
  width: 100vw;
  @include respond-to(medium) {
    width: 50vw;
  }
}
