@import 'variables.scss';

.read-next {
  // flex: 1;
  // text-align: right;
  background: $pink;
  transform: rotate(-90deg);
  // border: 1px solid $pink;
  padding: 10px;
  position: fixed;
  right: -82px;
  top: 50%;

  h6 {
    margin: 0;
    text-transform: uppercase;
    // color: lighten($pink, 10%);
    color: $paper;

    span {
      margin-right: 5px;
      color: darken($pink, 40%);
    }
  }

  a {
    text-decoration: none;
    color: $paper;
  }
}
