@import 'variables.scss';

.read-next {

  h6 {
    margin: 0;
    text-transform: uppercase;
    // color: lighten($pink, 10%);
    color: $paper;

    span {
      margin-right: 5px;
      color: darken($red, 40%);
    }
  }

  a {
    text-decoration: none;
    color: $paper;
  }
}
