@import 'variables.scss';

.read-next {

  h6 {
    margin: 0;
    font-family: $mono;

    span {
      margin-right: 5px;
      color: darken($red, 40%);
    }
  }

  a {
    text-decoration: none;
  }
}
