@import 'variables.scss';

.toggle-panel {

}

.slide-enter {
  transform: translateX(-100vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
}

.slide-enter-active {
  transform: translateX(0);
  transition: .25s ease-in all;
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(-100vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
  transition: .25s ease-out all;
}

.button--toggle {
  position: fixed;
  top: 30px;
  left: -30px;
  line-height: normal;
  // padding: 5px 15px;
  z-index: 3;
  transform: rotate(-90deg);
  background: $dark;
  color: $lightGray!important;

  @include respond-to(small) {

  }

  &::after {
    content: 'Index';
    vertical-align: middle;
  }

  &.active {
    &::after {
      content: 'Close';
    }
  }
}
