@import 'variables.scss';

.toggle-panel.open {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(black, 0.3);
  }
}

.slide-enter {
  transform: translateX(-30vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
}

.slide-enter-active {
  transform: translateX(0);
  transition: .25s ease-in all;


}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(-30vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
  transition: .25s ease-out all;
}

.button--toggle {
  position: fixed;
  top: 5px;
  left: 10%;
  z-index: 3;
  cursor: pointer;


  @include respond-to(small) {

  }

  &::after {
    content: 'All posts';
  }

  &.open{

    &::after {
      content: 'x Close';
    }
  }
}
