@import 'variables.scss';

.toggle-panel {

}

.slide-enter {
  transform: translateX(-60vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
}

.slide-enter-active {
  transform: translateX(0);
  transition: .25s ease-in all;
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(-60vw);
  // @include respond-to(medium) {
  //   transform: translateX(50vw);
  // }
  transition: .25s ease-out all;
}

.button--toggle {
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 3;
  cursor: pointer;


  @include respond-to(small) {

  }

  &::after {
    content: 'All posts';
  }

  &.active {

    &::after {
      content: 'x Close';
    }
  }
}
