$dark: #1A2930;
$gray: #C1C5C0;
$midGray: #e4e0dc;
$blueGray: lighten($dark, 70%);
$lightGray: lighten($midGray, 7%);
$marigold: #F7CE3E;
$daisy: #e7e9da;
$paper: lighten($daisy, 7%);
$green: #636b46;
$smoke: #6e7376;
$ochre: #c06014;
$pink: #db5f8c;
$red: #d22f2e;

$mono: 'Cutative Mono', monospace;
$sans: 'Poppins', sans-serif;
$serif: 'Crimson Text', serif;

a {
  color: $red;
}


%h1 {
  position: fixed;
  z-index: -1;
  transform: rotate(-90deg);
  transform-origin: 60vh 50vh;
  color: $lightGray;
  opacity: 0.15;
  top: 0;
  left: 0;
  font-size: 60vh;
}

$breakpoints: (
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px,
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
